body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.container {
    flex: 0 0 calc(33.333333% - 20px);
    max-width: calc(33.333333% - 20px);
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333;
}

.card-text {
    color: #333333;
    margin-bottom: 15px;
    flex-grow: 1;
}

.btn {
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    border: none;
}

.btn-detail {
    background-color: #007bff;
}

.btn-edit {
    background-color: #0ab055;
}

.btn-delete {
    background-color: #dc3545;
}

.button-container {
    display: flex;
    gap: 10px;
}

.btn-detail:hover {
    background-color: #0056b3;
}

.btn-edit:hover {
    background-color: #0ab055;
}

.text-center {
    text-align: center;
}
